.shop-container{
    margin: 0.5rem 2.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products-container{
    display: grid;
    margin: 0.5rem 1.5rem;
    grid-template-columns:repeat(3,1fr) ;
    row-gap: 40px;
    column-gap: 30px;
}
